.newscontainer {
    display: flex;
    margin: 20px;
    position: relative;
}

.newsimg {
    width: 300px;
    margin-right: 20px;
}

.newsimg > img {
    max-width: 100%;
}

.newscontent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.newsmain {
    flex-grow: 1;
}

.newstitle {
    margin-top: 0;
}

.created {
    font-size: 0.75em;
}

.newsmeta {
    font-size: 0.75em;
    flex-shrink: 0;
}

.deleted {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.restore {
    z-index: 2;
}